@media only screen and (max-width: 640px) {
    html, body {
        height: calc(100%-2em);
        margin: 0;
    }
    body {
        background-color: mediumslateblue;
        font-family: 'Barlow', sans-serif;
    }
    #menu {
        width: 40px;
        cursor: pointer;
    }
    aside {
        color: white;
        display: grid !important;
        grid-template-columns: auto 40px;
        padding: 2em;
    }
    .active {
            position: absolute;
            display: block !important;
            background: white;
            width: 50%;
            left: 0;
            top: 0;
            height: 100%;
    }
    ul {
        display: none !important;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8em;
        display: block;
        padding: 1.5em 3em;
        background-color: rgba (255, 255, 255, .35);
        color: black;
    }
    .container {
        background: white;
        padding: 1em 1.4em;
        display: block !important;
    }
    img {
        width: 100%; 
    }
    header {
        font-family: 'Anton', sans-serif;
        font-size: 18px !important;
    }
    .form {
        display: block;
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    html, body {
        height: calc(100%-2em);
        margin: 0;
    }
    body {
        background-color: mediumslateblue;
        font-family: 'Barlow', sans-serif;
    }
    #menu {
        width: 40px;
        cursor: pointer;
    }
    aside {
        color: white;
        display: grid !important;
        grid-template-columns: auto 40px;
        padding: 2em;
    }
    .active {
            position: absolute;
            display: block !important;
            background: white;
            width: 50%;
            left: 0;
            top: 0;
            height: 100%;
        }
    ul {
        display: none !important;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8em;
        display: block;
        padding: 1.5em 3em;
        background-color: rgba (255, 255, 255, .35);
        color: black;
    }
    .container {
        background: white;
        padding: 1em 1.4em;
        display: grid;
        grid-template-columns: 40% auto;
        padding: 2em;
        width: 67%;
        margin: auto;
        clear: both;
    }
    img {
        width: 67%;
        display: flex;
    }
    header {
        font-family: 'Anton', sans-serif;
        font-size: 28px;
    }
    .form {
        display: block;
        width: 50%;
    }
}

@media only screen and (max-width: 980px) {
    html, body {
        height: calc(100%-2em);
        margin: 0;
    }
    body {
        background-color: mediumslateblue;
        font-family: 'Barlow', sans-serif;
    }
    #menu {
        width: 40px;
        cursor: pointer;
    }
    aside {
        color: white;
        display: grid !important;
        grid-template-columns: auto 40px;
        padding: 2em;
    }
    .active {
            position: absolute;
            display: block !important;
            background: white;
            width: 50%;
            left: 0;
            top: 0;
            height: 100%;
        }
    ul {
        display: none !important;
        list-style-type: none;
        margin: 0;
        padding: 0;
    } 
    ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8em;
        display: block;
        padding: 1.5em 3em;
        background-color: rgba (255, 255, 255, .35);
        color: black;
    }
    .container {
        background: white;
        padding: 1em 1.4em;
        display: grid;
        grid-template-columns: 40% auto;
        padding: 2em;
        width: 67%;
        margin: auto;
        clear: both;
    }
    img {
    width: 67%; 
    display: flex;
    }
    header {
        font-family: 'Anton', sans-serif;
    }
    .form {
        display: block;
        width: 33%;
    }
}

@media only screen and (min-width: 980px) {
    body {
        background-color: mediumslateblue;
        font-family: 'Barlow', sans-serif;
    }
    html, body {
        height: calc(100%-2em);
        margin: auto;
    }
    #menu {
        display: none;
    }
    aside {
            color: white;
            grid-template-columns: auto 40px;
            padding: 2em 12em;
        }
    .active {
            display: none;
        }
    nav {
        background: mediumslateblue;
    }
    ul {
        display: flex;
        list-style-type: none;
        margin: auto;
        padding: 0;
    }  
    ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8em;
        display: block;
        padding:.5em;
        background-color: rgba (255, 255, 255, .35);
        color: black;
    }
    .container {
        background: white;
        display: grid;
        grid-template-columns: 40% auto;
        padding: 2em;
        width: 67%;
        margin: auto;
        clear: both;
    }
    img {
        width: 75%; 
        display: flex;
        flex: left;
    }
    header {
        font-family: 'Anton', sans-serif;
        font-size: 28px;
    }
    p {
        margin-top: 45px;
    }
    main {
        background: white;
        padding: 2em;
        width: 67%;
        margin: auto;   
    }
    .form {
        display: block;
        width: 95%;
    }

}


